  @font-face {
    font-family: newreader;
    src: url(../Fonts/Newsreader_9pt-Regular.ttf);
  }
  .buildlink-qs{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50px);
    justify-content: center;
    margin: 0px 0px 50px 0px;

  }

  .textelement {
    padding: 0px 0px 0px 0px;
    font-size:90px;
    font-style: normal;
    font-family:'newreader';
  }
  #heading2{
    transform: translateY(-50px);
  }
  a{
    text-decoration: none;
  }
  .btncontainer{
    display: flex;
    justify-content: center;
    transform: translate(52px);
  }
  .buildbtn{
    padding: 10px;
    transform: translateY(-50px);
    margin: 0px 20px 20px 20px;
    width: 150px;
    color: #111;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .buildbtn:hover{
    background-color:#FFF0CA ;
  }
