@font-face {
    font-family: inter;
    src: url(../Fonts/Inter-Regular.ttf);
}

.Maincontainer{
    display: flex;
    justify-content: left;
}

.imagecontainer{
    display: flex;
    width: 541px;
    height: 595px;
    padding: 131px 105px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    margin-right: 15%;
}
h1{
    color: #000;
    font-family: inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.pricecontainer{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}
.fprice{
    color: grey;
font-family: inter;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration:line-through;
margin-right: 20px;
}

.oprice{
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.Cartfuntions{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Qtycontainer{
    display:flex;
    justify-content: space-around;
    border: black 1px solid;
    width:155px;
    height: 60px;
    font-size: 30px;
    align-items: center;
    border-radius: 12px;
}

.sub  {
    border-right : black 1px solid;
    font-size: 30px;
}
.add{
    border-left: black 1px solid;
    font-size: 30px;
}

#tocart{
    background-color: #4A4A4A;
    position: relative;
    left: 50px;
    color: #FFF;
    font-family: inter;
    font-size: 31px;
    font-weight: 400;
    border-radius: 15px;
    width: 300px;
    height: 60px;
}