

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 29px;
    border-radius: 10%;
    padding: 20px;
   width: 100%;
}
.DetailingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formcontainer{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.component{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.component input{
    margin-top: 15px;
    width: 300px;
    height: 50px;
    border-radius: 5;
    border:1px solid rgba(0, 0, 0, 0.3);
}
strong {
    font-size: 20px;
    font-weight: 600;
}

i{
    margin:5px;
}
input{
    border-radius: 20px;
    padding-left:10px ;
    border: none;
}

.component input::placeholder{
    font-size: 15px;
}

#loginbtn,#signupbtn{
    margin-top:15px;
    width: 200px;
    height: 30px;
    color: white;
    background-color: black;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
}
.error{
    color:red;
}

#loginbtn:hover , #signupbtn:hover{
    cursor: pointer;
    color: black;
    background: rgb(228, 228, 228);
}

.linking{
    color:black;
    text-decoration: none;
  

}